
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Archivo+Black&family=Boogaloo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&family=Viaoda+Libre&display=swap');
:root{
  --theme-color: #0B1D51;
}
*{
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html{
  font-size: 62.5%;
}
body{
  min-width: 100vh;
  font-size : 1.6rem;

}
a{
  text-decoration: none; 
  color: inherit;
}
.app{
  width: 100%;
}
