.order {
  padding: 4vw;
  background-color: #ffffff;
  min-height: 100vh;
  color: #ffffff;
}

.order h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #0B1D51;
  text-align: center;
}

.order-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.order-item {
  background-color: #04102f;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;
}

.order-item:hover {
  transform: scale(1.03);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.15);
}

.order-item img {
  width: 60px;
  margin-bottom: 1rem;
}

.order-item p {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #ffffff;
}

.order-item p span {
  color: #00ff73;
  font-size: 1.2rem;
  margin-right: 0.3rem;
}

.order-item b {
  font-weight: 600;
  color: #ffffff;
}

.order-item button,
.order-item select {
  margin-top: 1rem;
  width: 100%;
  padding: 0.6rem;
  background-color: #ffffff;
  color: #0B1D51;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 1rem;
}

.order-item button:hover {
  background-color: #0f9351;
}
